<html>
<link rel="stylesheet" href="/css/application.css">
<head></head>
<body>
  <%= MessagePresenter.get_status_message(board) %>
  <%= BoardPresenter.make_board(board) %>
  <%= PlayAgainPresenter.button(board) %>
  </body>
</html>
