<html>
<link rel="stylesheet" href="/css/application.css">
  <div id="board">
    <table>
      <tr id="row1">
        <td class="square t l"></td>
        <td class="square t m"></td>
        <td class="square t r"></td>
      </tr>
      <tr id="row2">
        <td class="square m l"></td>
        <td class="square m m"></td>
        <td class="square m r"></td>
      </tr>
      <tr id="row3">
        <td class="square b l"></td>
        <td class="square b m"></td>
        <td class="square b r"></td>
      </tr>
    </table>
  </div>
</html>