<html>
<link rel="stylesheet" href="/css/application.css">
<head><img src="/images/welcome.gif" alt="Welcome!!" align="center"/></head>
<body>
<%= OptionPresenter.make_options({"board_size" => [3, 4]}) %>
</body>
</html>
